#header-nav {
  background-color: #BBBBBB;
  border-radius: 0;
  border: 1;
  border-color: black;
}

nav {
	background-color: #BBBBBB;
}

nav a .navbar-brand { 
	color: black; 
}

.row {
	width: 100%;
	margin: auto;
}

section {
	background-color: #BBBBBB;
	padding: 1px;
}

h2 {
	text-align: center;
}

p {
	padding: 5px;
}
